<nav class="navbar navbar-default bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipes Book</a>
    </div>

    <div class="navbar-default mr-auro">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
      
        <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" role="button">Manage</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Save Data</a>
            <a class="dropdown-item" href="#">Fetch Data</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
